@model ProyectoFinalPam.Models.Tutor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DomicilioTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTutor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
